section {
	margin: 20px auto;
	text-align: center;
	max-width: 1500px;
	background-color: #103b77;
	padding: 15px;
	border-radius: 10px;
}

section div.content {
	width: 90%;
	margin: auto;
}

#banner {
	text-align: center;
	background: #083b9b;
	margin: 20px auto;
	width: 100%;
	padding-bottom: 15px;
}

#introduction .content ul {
	text-align: left;
	width: fit-content;
	margin: auto;
}

#introduction .content ul li {
	margin: 5px auto;
}

#introduction .content ul li::marker{
	content: attr(bullet) ' ';
	font-size: 1.2em;
}

#external_links a {
	flex: 1 1 0px
}

svg {
	fill: white;
}

.grid > div {
	width: 100%;
}

.accordion {
	max-width: 800px;
}

.accordion .summary {
	padding: 15px;
}

.accordion .summary{
	background: #0a264d;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-content: center;
	justify-content: center;
	align-items: center;
}

.accordion .summary {
	border-radius: 15px 15px 0px 0px;
}

.accordion[closed] .summary {
	border-radius: 15px;
}

.accordion .content {
	width: 100%;
	background: #031b3d;
	border-radius: 0px 0px 15px 15px;
}

.accordion .content p {
	padding: 15px 20px;
	margin: 0;
	text-align: left;
}

.profile {
	width: 40%;
	background: #0a264d;
	padding: 10px 20px;
	display: flex;
	border-radius: 12px;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	align-content: center;
	flex-wrap: nowrap;
}

.profile img {
	border-radius: 50%;
}

.profile h2 {
	font-size: 1.5em;
}

.profile h3 {
	font-size: 1.8em;
	margin: 10px auto;
}

.profile p {
	margin-top: 30px;
}

@media only screen and (max-width: 1000px) {
	#introduction > div {
		display: block;
	}

	.profile {
		width: 90%;
	}
}