
/* Webkit scrollbar styling */
::-webkit-scrollbar {
	width: 15px;
}

::-webkit-scrollbar-thumb {
	background: #103b77;
}

::-webkit-scrollbar-track {
	background: #2d64ae;
}

::-webkit-scrollbar-thumb:hover {
	background: #164b94;
}


h1, h2, h3, h4, h5, h6, nav {
	font-family: 'Montserrat', sans-serif;
}

h1 {
	font-size: 1.9em;
	font-weight: 600;
	letter-spacing: 3px;
	line-height: 1.2em;
}

h2 {
	color: orange;
	font-size: 1.7em;
	font-weight: 600;
	letter-spacing: 3px;
}

h3 {
	font-size: 1.3em;
}

a {
	color: #21c5df;
	text-decoration: none;
}

a.third_party_link:hover {
	cursor: alias;
}

a:hover {
	color: #1b82bd;
}

a.anchor {
	display: block;
	position: relative;
	top: -100px;
	visibility: hidden;
}

html,body {
	margin: 0;
	padding: 0;
	scrollbar-color: #103b77 #2d64ae; /* Firefox */
}

body {
	background: #2d64ae;
	height: 100%;
	font-family: 'IBM Plex Sans Thai', monospace;
	font-size: 20px;
	line-height: 1.4em;
	display: flex;
	flex-direction: column;
	color: #ffffff;
	letter-spacing: 1px;
}

header {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-content: center;
	align-items: center;
	justify-content: space-between;
	padding: 10px 30px;
	background: #103b77;
	color: white;
	text-align: center;
	position: fixed;
	width: calc(100% - 60px);
	top: 0;
	z-index: 5;
	line-height: 2em;
}

div#header_spacer {
	width: 100%;
	flex: 0 0 100px;
	display: block;
}

header h1 {
	font-size: 2.6em;
	align-self: center;
	font-family: 'Source Code Pro', monospace;
	font-weight: 700;
	margin: 0;
}

header #filler {
	display: none;
	width: 65px;
	height: 65px;
}

nav a {
	color: white;
	margin: 0px 10px;
}

nav a:hover {
	color:#21c5df;
}

footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: #103b77;
	padding: 12px 15px 5px 15px;
	margin-top: 20px;
}

footer #external {
	flex-shrink: 0;
}

footer #external img,svg {
	margin: 0px 10px;
}

main > section {
	padding: 1px 10px 30px 10px;
	width: 70%;
}

.accordion {
	margin: 0px auto;
}

.accordion > .content {
	overflow: hidden;
	transition: max-height 1s ease-in-out;
}

.accordion > .summary {
	position: relative;
	list-style: none;
}

.accordion > .summary > div {
	width: 95%;
}

.accordion > .content {
	overflow: hidden;
	transition: height 0.25s ease-in-out;
	height: 0px;
}

.summary::after {
	content: ' ▸';
	white-space: nowrap;
	font-size: 1.6em;
	transition: transform 0.25s ease-in-out;
}

.accordion[open] .summary:after {
	transform: rotateZ(90deg);
}

.accordion .summary {
	font-size: 1.1em;
	font-weight: bold;
}

code {
	background: #191921;
}

blockquote {
	line-height: 1em;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
}

blockquote::before {
	content: '“ ';
	color: orange;
	font-size: 1.6em;
}

blockquote::after {
	content: ' „';
	color: orange;
	font-size: 1.6em;
	align-self: flex-end;
}

.command {
	font-size: 0.9em;
	color: #2d64ae;
	background: white;
	font-weight: 900;
	padding: 0px 3px;
	line-height: 1.2em;
	border-radius: 4px;
	white-space: nowrap;
	box-shadow: #00000073 1px 1px 3px 1px;
	display: inline-block;
}

.flex{
	gap: 20px;
	display: flex;
	flex-wrap: wrap;
	align-content: center;
	justify-content: space-evenly;
	align-items: stretch;
}

.flex .row {
	flex-direction: row;
}

.flex .column {
	flex-direction: column;
}

.grid {
	display: grid;
	grid-template-columns: 45% 45%;
	align-content: center;
	justify-content: space-around;
	align-items: stretch;
	justify-items: center;
}

.third_party_link::after {
	content: '';
	display: inline-block;
	cursor: alias;
	position: relative;
	bottom: 0.3em;
	left: 3px;
	height: 0.6em;
	width: 0.6em;
	background: url(../images/external.png) top right no-repeat;
	background-size: 100%;
	z-index: 1;
}

@media only screen and (max-width: 1400px) {
	main > section {
		width: 95%;
	}
}

@media only screen and (max-width: 1000px) {
	body {
		font-size: 14px;
	}
	header #filler {
		display: block;
	}

	header {
		padding: 7px 10px;
		width: calc(100% - 20px);
	}

	.grid {
		grid-template-columns: 80%;
	}
}