@use 'sass:list'
@use 'sass:color'

$types: steamid, peerid, playerid, vehicleid, itemid, location, text, letter, number, string, bool
$type-colors: #006636, #009751, #00ad5c, #8f03c9, #ae8fff, #f74ebc, #1499ce, #e69706, #9767f5, #009bd3, #ff2828

.bool
	font-size: 1.5em
	text-shadow: 2px 2px 2px black
	&.im-check-mark
		color: #00b500
	&.im-x-mark
		color: #db0000

.dataType
	font-family: "Source Code Pro", monospace
	font-weight: 600
	padding: 3px 4px
	border-radius: 0.4em
	font-size: 0.9em
	display: inline-block
	margin: 1px
	line-height: 1em
	box-shadow: black 2px 3px 7px 0px
	word-break: keep-all
	text-shadow: black 1px 1px 8px

	@for $i from 1 through list.length($types)
		&[data-type=#{list.nth($types, $i)}]
			background: #{list.nth($type-colors, $i)}
